body{
    background-color: lightcoral;
}

h1 {
    text-align: center;
    color: pink;
    font-family: serif;
    
}

.image-grid {
    display: grid;
    padding: 30px;
    margin: auto;
    column-count: auto;
}