body{
    background-color: rgb(252, 237, 239);
    border-radius: 2px black;
  
}

h1 {
    text-align: center;
    color: rgb(251, 163, 163);
    font-family: "helvetica" ;
    text-shadow: 2px 2px 5px rgb(110, 109, 109);
    border-bottom: solid 2px;
    border-top: solid 2px;
    
    
}

.img {
    display: grid;
    padding: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
    height: fit-content;
    border: 10px groove gray;

}

.btn {
    background: #fff;
    backface-visibility: hidden;
    border-radius: 10px;
    border-style: solid;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 5px 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    margin: 300px 70px;
    
  }
  .title{
    font-size: xx-large;
    position: absolute;
    right: 0%;
  }

  .date{
    font-size: large;
  }

  .description{
    font-size: larger;
  }

   .all-thing{
    display: flex;
   } 

   .text{
    border: 2px solid black;
    background-color: white;
    height: 300px;
    width: 500px;
    

   }

  