body{
    background-color: lightyellow;
}

h1 {
    text-align: center;
    color: black;
    font-family: serif;
    
}

.image-grid {
    display: grid;
    padding: 30px;
    margin: auto;
    column-count: auto;

}